<!doctype html>
<html>
    <head>
        <title> {% block titulo %} FilmEs v3 David Sánchez {% endblock %} </title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/estils.css"/>
    </head>
    <body>
        {% include "admin_menu.njk" %}
        <div class="container">
            {% block contenido %}

            {% endblock %}
        </div>
    </body>
</html>